@using WEB.ViewModels;
@{
    ViewData["Title"] = "Home Page";
}
@model HomeIndexViewModel

<section class="content p-5">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Hava durumu</h3>
        </div>
        <div class="card-body row align-items-center justify-content-center">
            <div class="col-12 row align-items-center">
                <div class="col-12 row border rounded mb-2">
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label>İl</label>
                            <select id="select-city" class="form-control select2bs4 city">
                                <option value="-1">İl seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label>İlçe</label>
                            <select id="select-district" class="form-control select2bs4 district">
                                <option value="-1">İlçe seçiniz</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 row align-items-center justify-content-start">
                    <div class="col-3" id="latitude">
                        <label>Enlem:</label>
                        <span></span>
                    </div>
                    <div class="col-3" id="longitude">
                        <label>Boylam:</label>
                        <span></span>
                    </div>
                    <div class="col-3" id="region">
                        <label>Bölge:</label>
                        <span></span>
                    </div>
                </div>
                <div class="col-12">
                    <table class="table table-hover" id="weatherDetailsTable">
                        <thead>
                            <tr>
                                <th>Gün</th>
                                <th>Beklenen Durum</th>
                                <th>Sıcaklık</th>
                                <th>Hissedilen Sıcaklık</th>
                                <th>Nem</th>
                                <th>Basınç</th>
                                <th>Rüzgar Hızı</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
    {
    <script>
        let weatherDetailsDataTable;

        self = this;

        $(document).ready(() => {
            getCities(() => fillCitySelect("#select-city", -1));

            $('select.district').on('change', function (e) {
                if (e.target.value > -1) {
                    getWeatherDetails();
                }
            });

            $('select.city').on('change', function (e) {
                console.log("change city");
                getDistricts(e.target.value, () => fillDistrictSelect("#select-district", -1));
            });

            self.weatherDetailsDataTable = $('#weatherDetailsTable').DataTable({
                responsive: true,
                autoWidth: true,
                columns: [
                    {
                        data: 'day',
                        render: function (data, type, row) {
                            if (type === 'sort') {
                                let initial = data.split(/\./);

                                return [initial[1], initial[0], initial[2]].join('/');
                            }
                            console.log("dat", row.day);
                            return `<div class="d-flex flex-column align-items-center justify-content-center w-100">
                                        <span>${row.day}</span>
                                    </div>`;
                        }
                    },
                    {
                        data: 'weatherTypeName'
                    },
                    {
                        data: 'temperature',
                        render: function (data, type, row) {
                            if (type === 'sort') return data;

                            return data.toFixed(1);
                        }
                    },
                    {
                        data: 'temperatureFeelsLike',
                        render: function (data, type, row) {
                            if (type === 'sort') return data;

                            return data.toFixed(1);
                        }
                    },
                    {
                        data: 'humidity'
                    },
                    {
                        data: 'pressure'
                    },
                    {
                        data: 'windSpeed'
                    }
                ]
            });

            console.log("init", self.weatherDetailsDataTable);
        });

        function getWeatherDetails() {
            self.weatherDetailsDataTable.clear().draw();

            let cityId = $('select.city').val();
            let districtId = $('select.district').val();

            $.ajax({
                url: '@Url.Action("GetWeatherByCityAndDistrict")?cityId=' + cityId + "&districtId=" + districtId,
                type: 'POST',
                data: 'json',
                cache: false,
                success: (response) => {
                    console.log("success resp", response);

                    if (response.weatherDetails) {
                        $("#longitude span").html(response.longitude);
                        $("#latitude span").html(response.latitude);
                        $("#region span").html(response.region);

                        response.weatherDetails.forEach(detail => {
                            self.weatherDetailsDataTable.row.add(detail).draw();
                        });

                    }
                },
                error: (response) => {
                    console.log("error resp", response);
                }
            })
        }
    </script>
}