@using Entities.Concrete;
@using WEB.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StadiumCreateViewModel

<section class="content p-5">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Stadyum ekle</h3>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label>Stadyum Adı</label>
                    <input asp-for="Name" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Şehir</label>
                    <select  id="select-city" asp-for="SelectedCityId" class="form-control select2bs4 w-100">
                        <option>Bir şehir seçiniz.</option>
                    </select>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /><b>Aktif Mi?</b>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts
    {
    <script src="~/adminlte/plugins/daterangepicker/daterangepicker.js"></script>

    <script>
        $(document).ready(function () {
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            getCities(() => fillCitySelect("#select-city", -1));
        });
    </script>
}