@using WEB.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StadiumUpdateViewModel

<section class="content p-5">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Stadyum ekle</h3>
        </div>
        <div class="card-body">
            <form asp-action="Update" method="post">
                <div class="form-group">
                    <label>Stadyum Adı</label>
                    <input asp-for="Name" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Şehir</label>
                    <select id="select-city" asp-for="CityId" class="form-control select2bs4 w-100">
                        <option>Bir şehir seçiniz.</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts
    {
    <script src="~/adminlte/plugins/daterangepicker/daterangepicker.js"></script>

    <script>
        $(document).ready(function () {
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            getCities(() => fillCitySelect("#select-city", @Model.CityId));
        });
    </script>
}